<!--==========================
  Hero Section
  ============================-->
<section id="header">
  <div class="header-container">
    <div class="wow fadeIn">
      <div class="header-logo">
        <img class="center-image" src="assets/layout/logo_baumas_WHITE.svg" alt="CraftsBox">
      </div>

      <h1>Кутии за майсторене</h1>
      <h2>
        Аз творя. <span class="rotating">Ти твориш. Всеки може да твори.</span>
      </h2>
      <div class="actions">
        <a (click)="scrollTo('products')" [routerLink]="['/front']" fragment="products" class="btn-get-started js-scroll-trigger" >Избери кутия</a>
        <a (click)="scrollTo('about')" [routerLink]="['/front']" fragment="about" class="btn-services js-scroll-trigger" >За нас</a>
      </div>
    </div>
  </div>
</section>