
<!--==========================
  Contact Section
  ============================-->
<section id="contact">
	<div class="container wow fadeInUp">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-title">Контакт</h3>
				<div class="section-title-divider"></div>
				<p class="section-description mb-1">Имате въпроси, предложения, мнение, отзиви? Можете да ни
					пишете на указания имейл или да ползвате формата по-долу, или да ни се обадите по телефона.</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-6 my-1">
				<div [ngClass]="{'invisible' : !msgResponse}" class="text-success mb-1">Вашето съобщение е изпратено успешно.
					Благодарим Ви!</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-md-push-2">
				<div class="info">
					<div>
						<i class="fa fa-map-marker"></i>
						<p>
							София 1421<br>ул. "488-ма" 2Б
						</p>
					</div>

					<div>
						<i class="fa fa-envelope"></i>
						<p>
							<a href="mailto:contact@craftsbox.eu">contact@craftsbox.eu</a>
						</p>
					</div>

					<div>
						<i class="fa fa-phone"></i>
						<p>
							<a href="callto:+359899198669">+359 89 919 86 69</a>
						</p>
					</div>

				</div>
			</div>

			<div class="col-md-5 col-md-push-2">
				
				<div class="form">
					<!-- Your message has been sent. Thank you! -->
					<div id="errormessage"></div>
					<form #contactForm="ngForm" (ngSubmit)="sendMessage()" class="contactForm" method="post"
						role="form">
						<div class="form-group">
							<!-- data-rule="minlen:4" data-msg="Please enter at least 4 chars" -->
							<input type="text" class="form-control" id="name" [(ngModel)]="model.name" name="name"
								#name="ngModel" placeholder="Вашето име">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="email" placeholder="Вашият имейл"
								[(ngModel)]="model.email" name="email" #email="ngModel" />
							<!-- data-rule="email" data-msg="Please enter a valid email" -->
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="subject" id="subject" placeholder="Заглавие"
								[(ngModel)]="model.subject" #subject="ngModel" />
							<!-- data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" -->
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control" id="message" name="message" rows="5" placeholder="Текст"
								required [(ngModel)]="model.message" #message="ngModel"></textarea>
							<!-- data-rule="required" data-msg="Please write something for us" -->
							<div class="validation"></div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-default" [disabled]="!contactForm.form.valid">Изпрати</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</section>


<!-- 

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Контакти</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor,
          provident officiis, id iusto! Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Vero odio fugiat
          voluptatem dolor, provident officiis, id iusto! Vero odio fugiat voluptatem dolor, provident officiis, id iusto!
          Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
      </div>
    </div>
  </div>
</section>

-->