<!--==========================
  Subscrbe Section
  ============================-->
<section id="subscribe">
	<div class="container wow fadeInUp">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-7">
				<h3 class="subscribe-title">Социален панел</h3>
				<p class="subscribe-text">Посетете нашия видео канал в Ютюб, където можете да откриете
					нашите безплатни уроци за майсторене. Не пропущайте да посетите и нашата Фейсбук страница!</p>
			</div>
			<div class="col-md-5">
				<span style="padding: 15px 15px;">
					<a href="http://www.youtube.com"> <img class="center-image2"
						style="display: inline; width: 64px; height: 64px" src="assets/layout/youtube.svg" alt="youtube">
					</a>
				</span>
				<span style="padding: 15px 15px;">
					<a href="https://www.facebook.com/rabotilnichka/"> <img class="center-image2"
						style="display: inline; width: 64px; height: 64px" src="assets/layout/facebook.svg" alt="facebook">
					</a>
				</span>
				<span style="padding: 15px 15px;">
					<a href="https://www.instagram.com/craftsbox/"> <img class="center-image2"
						style="display: inline; width: 64px; height: 64px" src="assets/layout/instagram.svg" alt="instagram">
					</a>
				</span>
				<!--  
				<span style="padding: 15px 15px;">
					<a href="http://www.pinterest.com"> <img style="display: inline; width: 64px; height: 64px" src="assets/layout/pinterest.svg" alt="youtube">
					</a>
				</span>-->
				<!--<a class="subscribe-btn" href="#">Subscribe Now</a>-->
			</div>
			<!-- <div class="col-md-8">
				<h3 class="subscribe-title">Subscribe For Updates</h3>
				<p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product
					announcements and much more!</p>
			</div>
			<div class="col-md-4 subscribe-btn-container">
				<a class="subscribe-btn" href="#">Subscribe Now</a>
			</div> -->
		</div>
	</div>
</section>
