<section id="cart">
	<div class="container wow fadeInUp">
		<div class="row">
			<div class="col-md-12">




				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Вашата количка</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
	
				<table class="table cart table-hover table-colored">
					<thead>
						<tr>
							<th>Артикул</th>
							<th>Цена</th>
							<th>Количество</th>
							<!-- <th>Премахни</th>  -->
							<th class="amount">Сума</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of cart.getItems()" class="remove-data">
							<td class="product"><a
								[routerLink]="['/product', item.product.id]">{{item.product.name}}</a><span
								class="small">{{item.product.shortDesc}}</span></td>
							<td class="price">{{item.product.price|number:'1.2-2'}}</td>
							<td class="quantity">
							
							
							<!-- 	<div class="input-group input-group-sm">
									<button type="button" class="input-group-addon btn btn-outline-secondary" (click)="dec(item)">-a</button>
									<input appOnlyNumber="true" [quantityHolder]="item" [(ngModel)]="item.quantity" 
									class="form-control form-control-sm qtyInput" type="text" 
									data-bts-min="1" data-bts-max="999"
									style="width:30px; text-align: center;">
									<button type="button" class="input-group-addon btn btn-outline-secondary" (click)="inc(item)">+</button>
								</div>
 -->
	 
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<button type="button" class="btn btn-outline-secondary"
											(click)="dec(item)">-</button>
									</div>
									<input appOnlyNumber="true" [quantityHolder]="item"
										[(ngModel)]="item.quantity"
										class="form-control form-control-sm qtyInput" type="text"
										data-bts-min="1" data-bts-max="999"
										style="width: 30px; text-align: center;">
									<div class="input-group-append">
										<button type="button" class="btn btn-outline-secondary"
											(click)="inc(item)">+</button>
										<button type="button" class="btn btn-outline-secondary"
											(click)="remove(item)">x</button>
									</div>
								</div>

							</td>
							<!-- <td class="remove"><a href="#" class="btn btn-remove btn-sm btn-default">Remove</a></td> -->
							<td class="amount">{{item.getSubTotal()|number:'1.2-2'}}</td>

						</tr>
						<!-- 
						<tr>
							<td colspan="3">Discount Coupon</td>
							<td colspan="2">
								<div class="form-group">
									<input type="text" class="form-control">
								</div>
							</td>
						</tr>
            -->
						<tr>
							<td class="total-quantity" colspan="3">Общо
								{{cart.getCount()}} артикула</td>
							<td class="total-amount">{{cart.getSubTotal()|number:'1.2-2'}}</td>
						</tr>
						<tr>
							<td class="total-quantity" colspan="3">Доставка</td>
							<td class="total-amount">{{cart.getShipping()|number:'1.2-2'}}</td>
						</tr>
						<tr>
							<td class="total-quantity" colspan="3">Всичко</td>
							<td class="total-amount">{{cart.getTotal()|number:'1.2-2'}}</td>
						</tr>
					</tbody>
				</table>
				<div class="text-right">
				    <button type="button" class="btn btn-group btn-default"
											(click)="checkout()">Поръчай</button>
					<!-- <a [routerLink]="['/checkout/shipping']"
						class="btn btn-group btn-default">Поръчай</a>-->
				</div>


			</div>
		</div>
	</div>
</section>
