<section id="cart">
	<div class="container wow fadeInUp">
		<div class="row">
			<div class="col-md-12">




				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title" i18n="cart|caption before the cart table@@cartCaption">Вашата количка</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
	
				<table class="table cart table-hover table-colored">
					<thead>
						<tr>
							<th i18n="cart@@item">Артикул</th>
							<th i18n="cart@@price">Цена</th>
							<th i18n="cart@@quantity">Количество</th>
							<!-- <th>Премахни</th>  -->
							<th class="amount" i18n="cart@@amount">Сума</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of cart.getItems()" class="remove-data">
							<td class="product"><a
								[routerLink]="['/product', item.product.id]">{{item.product.name}}</a><span
								class="small">{{item.product.shortDesc}}</span></td>
							<td class="price">{{item.product.price|number:'1.2-2'}}<span class="currency">лв</span></td>
							<td class="quantity">
							
							
							<!-- 	<div class="input-group input-group-sm">
									<button type="button" class="input-group-addon btn btn-outline-secondary" (click)="dec(item)">-a</button>
									<input appOnlyNumber="true" [quantityHolder]="item" [(ngModel)]="item.quantity" 
									class="form-control form-control-sm qtyInput" type="text" 
									data-bts-min="1" data-bts-max="999"
									style="width:30px; text-align: center;">
									<button type="button" class="input-group-addon btn btn-outline-secondary" (click)="inc(item)">+</button>
								</div>
 -->
	 
								<div class="input-group input-group-sm">
									<div class="input-group-prepend">
										<button type="button" class="btn btn-outline-secondary"
											(click)="dec(item)">-</button>
									</div>
									<input appOnlyNumber="true" [quantityHolder]="item"
										[(ngModel)]="item.quantity"
										class="form-control form-control-sm qtyInput" type="text"
										data-bts-min="1" data-bts-max="999"
										style="width: 30px; text-align: center;">
									<div class="input-group-append">
										<button type="button" class="btn btn-outline-secondary"
											(click)="inc(item)">+</button>
										<button type="button" class="btn btn-outline-secondary"
											(click)="remove(item)">x</button>
									</div>
								</div>

							</td>
							<!-- <td class="remove"><a href="#" class="btn btn-remove btn-sm btn-default">Remove</a></td> -->
							<td class="amount">{{item.getSubTotal()|number:'1.2-2'}}<span class="currency">лв</span></td>

						</tr>
						<!-- 
						<tr>
							<td colspan="3">Discount Coupon</td>
							<td colspan="2">
								<div class="form-group">
									<input type="text" class="form-control">
								</div>
							</td>
						</tr>
            -->
                        <tr *ngIf="cart.getCount() === 0">
							<td class="total-quantity" colspan="4" style="text-align: center">
							  <span>Вашата количка е празна!</span>
							
						</tr>
						<tr *ngIf="cart.getCount() !== 0">
						<!-- Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}} -->
							<td class="total-quantity" colspan="3" >
							  <span  i18n="cart@@subtotal">Общо {cart.getCount(), plural, =1 {{{cart.getCount()}} артикул} other {{{cart.getCount()}} артикула}}</span>
							<td class="total-amount">{{cart.getSubTotal()|number:'1.2-2'}}<span class="currency">лв</span></td>
						</tr>
						<tr *ngIf="cart.getCount() !== 0">
							<td class="total-quantity" colspan="3" i18n="cart@@shipping">Доставка</td>
							<td class="total-amount">{{cart.getShipping() | number:'1.2-2'}}<span class="currency">лв</span></td>
						</tr>
						<tr *ngIf="cart.getCount() !== 0">
							<td class="total-quantity" colspan="3" i18n="cart@@total">Всичко</td>
							<td class="total-amount">{{cart.getTotal()|number:'1.2-2'}}<span class="currency">лв</span></td>
						</tr>
					</tbody>
				</table>
				<div class="text-right"  *ngIf="cart.getCount() !== 0">
				    <button type="button" class="btn btn-group btn-default" 
											(click)="checkout()" i18n="cart|button@@order">Поръчай</button>
					<!-- <a [routerLink]="['/checkout/shipping']"
						class="btn btn-group btn-default">Поръчай</a>-->
				</div>


			</div>
		</div>
	</div>
</section>
