<div class="container" style="margin-top: 70px"></div>
<div class="container">
	<div class="row">
		<div class="col-xl-7 col-lg-8 col-md-9 col-sm-12 ml-auto mr-auto">
			<h3>Благодарим за направената поръчка!</h3>
			<div class="form-group">
				<div>Номер на поръчката: <span class="key">1900067</span></div>
				<div>12 артикула на обща стойност 28.90лв</div>
				<div>Адрес: ще бъде уточнен с телефонно обаждане</div>
				<div>Доставка с куриер "Еконт"</div>
				<div>Срок на доставяне: 2-4 дни</div>
				<div>Статус: очаква плащане</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-7 col-lg-8 col-md-9 col-sm-12 ml-auto mr-auto">
			<h5>Моля наредете превод до следната сметка:</h5>
			<div class="form-group">
				<div>
					<span class="key">IBAN:</span> <span>1234 5678 9010 234 5678 34</span>
				</div>
				<div>
					<span class="key">Получател:</span> <span>Крафтсбокс</span>
				</div>
				<div>
					<span class="key">Основание:</span> <span>за поръчка 1900067</span>
				</div>
				<div>
					<span class="small">Поръчката ще се обработи и изпрати след като заплащането на дължимата сума постъпи по
						банковата сметка.</span>
				</div>

			</div>
		</div>
	</div>
</div>