<nav class="navbar app-fixed-30 navbar-expand-lg navbar-dark fixed-top app-sticky" id="mainNav">
	<div class="container">
		<a [routerLink]="['/front']" fragment="home" class="navbar-brand js-scroll-trigger" >CRAFTS BOX</a>
          
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
				  <a [routerLink]="['/front']" fragment="products" class="nav-link js-scroll-trigger" >Избери кутия</a>
				  <!-- <a [routerLink]="['/user/bob']" [queryParams]="{debug: true}" fragment="education"> -->
				</li>
				
				<li class="nav-item">
          <a [routerLink]="['/front']" fragment="about" class="nav-link js-scroll-trigger" >За нас</a>
        </li>
				<li class="nav-item">
          <a [routerLink]="['/front']" fragment="contact"  class="nav-link js-scroll-trigger" >Контакт</a>
        </li>
			</ul>
		</div>
	</div>
</nav>

<!-- <app-front-banner></app-front-banner>-->

<!-- 
<header id="header" class="app-banner text-white">
	
	<div class="container text-center">
		<h1>Welcome to Scrolling Nav</h1>
		<p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
	</div>
</header>
-->