<nav class="navbar header dark app-fixed-30 navbar-expand-lg navbar-dark fixed-top " id="mainNav"><!-- app-sticky -->
	<div class="container">
		<a (click)="scrollTo('home')" [routerLink]="['/front']" fragment="home" class="navbar-brand js-scroll-trigger" >CRAFTS BOX</a>
          
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
				  <a (click)="scrollTo('products')" [routerLink]="['/front']" fragment="products" class="nav-link js-scroll-trigger"  [class.active]="isLinkActive('products')">Избери кутия</a>
				  <!-- <a [routerLink]="['/user/bob']" [queryParams]="{debug: true}" fragment="education"> -->
				</li>
				
				<li class="nav-item">
          <a (click)="scrollTo('about')"  [routerLink]="['/front']" fragment="about" class="nav-link js-scroll-trigger" [class.active]="isLinkActive('about')">За нас</a>
        </li>
				<li class="nav-item">
          <a (click)="scrollTo('contact')"  [routerLink]="['/front']" fragment="contact"  class="nav-link js-scroll-trigger" [class.active]="isLinkActive('contact')">Контакт</a>
        </li>
        
        <!-- START -->
        
        
        
        
        <div class="header-dropdown-buttons" style ="margin-left: 20px">
                  <!-- SEARCH  
                  <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-1">
                      <li>
                        <form role="search" class="search-box margin-clear">
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Search">
                            <i class="icon-search form-control-feedback"></i>
                          </div>
                        </form>
                      </li>
                    </ul>
                  </div>
                   -->
                  
                  <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-shopping-cart"></i>
                    <span class="cart-count default-bg">{{cart.getCount()}}</span></button>
                    <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation" aria-labelledby="header-drop-2">
                      <li>
                        <table class="table table-hover">
                          <!-- <thead>
                            <tr>
                              <th class="quantity">Количество</th>
                              <th class="product">Артикул</th>
                              <th class="amount">Сума</th>
                            </tr>
                          </thead>
                           -->
                          <tbody>
                            <tr *ngFor="let item of cart.getItems()">
                              <td class="quantity">{{item.quantity}} x</td>
                              <td class="product"><a [routerLink]="['/product', item.product.id]">{{item.product.name}}</a><span class="small">{{item.product.shortDesc}}</span></td>
                              <td class="amount">{{item.getSubTotal()|number:'1.2-2'}}</td>
                            </tr>
                            
                            <tr>
                              <td class="total-quantity" colspan="2">Общо {{cart.getCount()}} артикула</td>
                              <td class="total-amount">{{cart.getTotal()|number:'1.2-2'}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="panel-body text-right">
                          <a (click)="scrollTo('')"  [routerLink]="['/cart']" class="btn btn-group btn-gray btn-sm">Покажи количка</a>
                          <a href="shop-checkout.html" class="btn btn-group btn-gray btn-sm">Поръчай</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
        
        
        
        
        <!-- END -->
        
        
        
        <!-- <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-shopping-cart"></i><span class="cart-count default-bg">8</span>
        </button>-->
        
        
			</ul>
		</div>
	</div>
</nav>

<!-- <app-front-banner></app-front-banner>-->

<!-- 
<header id="header" class="app-banner text-white">
	
	<div class="container text-center">
		<h1>Welcome to Scrolling Nav</h1>
		<p class="lead">A landing page template freshly redesigned for Bootstrap 4</p>
	</div>
</header>
-->