
<div class="modal-header">
	<h6 class="modal-title">ОБЩИ УСЛОВИЯ</h6>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="container">
		<div class="row">
			<div class="col">

				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
				<p>Настоящите "Общи условия" уреждат взаимоотношенията между електронния магазин "Notino s.r.o.” (наричан
					по-долу Enzo. bg) като продавач от една страна и потребителите на интернет страницата и услугите, намиращи се на
					домейна Enzo.bg (наричан за краткост сайт), като купувач от друга страна. Тези условия обвързват всички
					потребители, които с натискането на всеки един обект, линк или бутон, разположен на страниците на Enzo.bg (с
					изключение на линка към настоящите "Общи условия") се съгласяват, изцяло приемат и се задължават да спазват тези
					"Общи условия".</p>
			</div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<a (click)="bsModalRef.hide()" class="btn btn-group btn-info btn-sm">Затвори</a>
</div>
