
<!--==========================
  Products Section
  ============================-->

<!-- <section id="products" class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Избери кутия</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita
          quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut
          velit dignissimos.</p>
      </div>
    </div>
    
    
    
  </div>
</section>
-->

<section id="products">
	<div class="container wow fadeInUp">
		<div class="row">
			<div class="col-md-12">
				<h3 class="section-title">Избери кутия</h3>
				<div class="section-title-divider"></div>
				<p class="section-description">Всяка кутия съдържа дъра бъра два чадъра</p>
			</div>
		</div>

		<div class="row" *ngIf="products">
			<div class="col-lg-4 col-md-6" *ngFor="let product of products | async; let i = index">

				<div class="listing-item white-bg bordered mb-20">
					<div class="overlay-container">
						<img [src]="product.image" alt=""> <a class="overlay-link popup-img-single" href="{{product.image}}"><i
							class="fa fa-search-plus"></i></a> <span class="badge">30% OFF</span>
						<div class="overlay-to-top links">
							<span class="small"> <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to
									Wishlist</a> <a href="#" class="btn-sm-link"><i class="icon-link pr-1"></i>View Details</a>
							</span>
						</div>
					</div>
					<div class="body">
						<h3><a [routerLink]="['/product', product.id]">{{product.name}}</a>
						</h3>
						<p class="small">{{product.shortDesc}}</p>
						<div class="elements-list clearfix">
							<span class="price"><del>{{product.price * 1.3 | currency}}</del> {{product.price | currency}}</span> <a href="#"
								class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i
								class="fa fa-shopping-cart"></i></a>
						</div>
					</div>
				</div>




			</div>
		</div>

	</div>
</section>








<!-- 
  <section id="products">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Избери кутия</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Всяка кутия съдържа дъра бъра два чадъра</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-desktop"></i></div>
          <h4 class="service-title"><a href="">Lorem Ipsum</a></h4>
          <p class="service-description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="service-title"><a href="">Dolor Sitema</a></h4>
          <p class="service-description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
          <h4 class="service-title"><a href="">Sed ut perspiciatis</a></h4>
          <p class="service-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-photo"></i></div>
          <h4 class="service-title"><a href="">Magni Dolores</a></h4>
          <p class="service-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-road"></i></div>
          <h4 class="service-title"><a href="">Nemo Enim</a></h4>
          <p class="service-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="service-title"><a href="">Eiusmod Tempor</a></h4>
          <p class="service-description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>
      </div>
    </div>
  </section>
-->

<!-- <app-rest></app-rest> -->
<!-- <app-product-list></app-product-list>-->
