
<div class="container" style="margin-top: 70px">
	<div class="row">
		<div class="col"></div>
	</div>
</div>

<div class="container wow fadeInUp mt-10" *ngIf="product">
	<div class="row">
		<div class="col">

			<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

			<!-- 
                       <div class="owl-carousel owl-theme content-slider-with-large-controls">
                        <div class="overlay-container overlay-visible">
                          <img src="assets/products/product-1.jpg" alt="">
                          <a href="assets/products/product-1.jpg" class="owl-carousel--popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                        </div>
                        <div class="overlay-container overlay-visible">
                          <img src="assets/products/product-1a.jpg" alt="">
                          <a href="assets/products/product-1a.jpg" class="owl-carousel--popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
                        </div>
                      </div>


            <div class="listing-item white-bg bordered mb-20">
              <div class="overlay-container">
              
                <img [src]="product.image" alt=""> 
                <img src="assets/products/product-1a.jpg" alt="">
                <a class="overlay-link popup-img-single" href="{{product.image}}">
                  <i class="fa fa-search-plus"></i>
                </a> 
                
                <span class="badge">30% OFF</span>
                
                <div class="overlay-to-top links">
                  <span class="small"> <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to
                      Wishlist</a> <a href="#" class="btn-sm-link"><i class="icon-link pr-1"></i>View Details</a>
                  </span>
                </div>
              </div>
            </div>
          </div>

 -->

		</div>


		<div class="col listing-item">
			<div class="body">
				<h1>{{product.name}}</h1>
				<!-- <p class="small">{{product.longDesc}}</p> -->
				<div class="e2e-inner-html-bound" [innerHTML]="product.longDesc"></div>

				<div class="elements-list clearfix">

					<!-- GRAY BOX -->
					<div class="light-gray-bg p-20 bordered clearfix">
						<!--                         <span class="price">  
                          <i class="fa fa-tag" aria-hidden="true"></i> 
                          <del *ngIf="product.adjustment">{{product.price|number:'1.2-2'}}</del>
                          {{product.price * (1-product.adjustment)|number:'1.2-2'}}<span class="currency">лв</span>
                        
                        
                        </span>
 -->
						<div class="elements-list clearfix">
							
							<span *ngIf="product.adjustment" class="old-price margin-clear mystrike">
							  <app-product-price [price]="product.price"></app-product-price>лв
							</span>
							
							<span class="price smaller"> <app-product-price
									[price]="product.price * (1-product.adjustment)"></app-product-price>лв
							</span> 
							
							<a (click)="addToCart()"
								class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Поръчай<i
								class="fa fa-shopping-cart"></i></a>
						</div>




					</div>
				</div>
			</div>

		</div>
	</div>

	<app-social-panel></app-social-panel>