        <div class="listing-item white-bg bordered mb-20">
          <div class="overlay-container">
          
            <img [src]="product.image" alt=""> 
            <a class="overlay-link popup-img-single" href="{{product.image}}">
              <i class="fa fa-search-plus"></i>
            </a> 
             
            <span class="badge">30% OFF</span>
            
            <!-- 
            <div class="overlay-to-top links">
              <span class="small"> 
                <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a> 
                <a [routerLink]="['/product', product.id]" class="btn-sm-link"><i class="icon-link pr-1"></i>Разгледай</a>
              </span>
            </div>
             -->
          </div>
          <div class="body">
            <h3><a [routerLink]="['/product', product.id]">{{product.name}}</a>
            </h3>
            <p class="small">{{product.shortDesc}}</p>
            <div class="elements-list clearfix">
              <span class="price"><del>{{product.price * 1.3 | currency}}</del> {{product.price | currency}}</span> 
              <a (click)="openAddToCartModal()" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">
                Поръчай<i class="fa fa-shopping-cart"></i>
              </a>
            </div>
          </div>
        </div>
