        <div class="listing-item white-bg bordered mb-20">
          <div class="overlay-container">
          
             
           <!--  <a class="overlay-link popup-img-single" href="{{product.image}}">
              <i class="fa fa-search-plus"></i>
            </a>  -->
            <a [routerLink]="['/product', product.id]"><img [src]="product.image" alt="product image"></a>
             
            <span class="badge" *ngIf="product.adjustment">{{product.adjustment | percent}} OFF</span>
            
            <!-- 
            <div class="overlay-to-top links">
              <span class="small"> 
                <a href="#" class="btn-sm-link"><i class="fa fa-heart-o pr-10"></i>Add to Wishlist</a> 
                <a [routerLink]="['/product', product.id]" class="btn-sm-link"><i class="icon-link pr-1"></i>Разгледай</a>
              </span>
            </div>
             -->
          </div>
          <div class="body">
            <h3><a [routerLink]="['/product', product.id]">{{product.name}}</a>
            </h3>
            <p class="small">{{product.shortDesc}}</p>
            <p class="old-price margin-clear mystrike" [ngClass]="{'invisible' : !product.adjustment}">
              <span><app-product-price [price]="product.price"></app-product-price>лв</span>
            </p>
            <div class="elements-list clearfix">
              <!-- <span class="price"><del *ngIf="product.adjustment">{{product.price|myPrice}}лв</del> {{product.price * (1-product.adjustment)|number:'1.2-2'}}лв</span> 
              -->
              
              <span class="price">
                <app-product-price [price]="product.price * (1-product.adjustment)"></app-product-price>лв</span> 
              <a (click)="openAddToCartModal()" class="pull-right btn btn-sm btn-default-transparent btn-animated"
                 style="margin-bottom: 0">
                Поръчай<i class="fa fa-shopping-cart"></i>
              </a>
            </div>
          </div>
        </div>
