/*Listing Items
---------------------------------- */
.listing-item .overlay-container .badge {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: 400;
  padding: 4px;
  top: 10px;
  right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.listing-item .body {
  padding: 15px;
}

.listing-item .body h3 {
  margin-top: 0;
  font-size: 18px;
  line-height: 1.4;
}

.listing-item .elements-list {
  font-size: 12px;
}

.listing-item .price {
  //font-family: $price-font;
  font-size: 3em;
  //margin-top: 1px;
  display: inline-block;
  font-weight: 600;
  color: #ef2809;
  line-height: 1;
}

.listing-item .price.smaller {
  font-size: 2em;
}

.listing-item .old-price {
  font-size: 1.2em;
  color: #999999;
}

.invisible {
  visibility: hidden;
} 

.mystrike {
    position: relative;
    display: inline-block;
}

.mystrike::before {
    content: '';
    border-bottom: 1px solid #666666;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}  

sup {
    top: -.4em;
}

sub, sup {
    font-size: 65%;
    line-height: 0;
    position: relative;
    margin-left: .1em;
    vertical-align: baseline;
}

.listing-item .overlay-to-top {
  padding: 10px 0 !important;
}

.listing-item .overlay-to-top .btn-sm-link {
  padding: 5px;
}

.bordered {
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.dark-bg .bordered {
  border: 1px solid #555555;
}
