/* You can add global styles to this file, and also import other style files */

@import 'css/variables';



@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/magnific-popup/dist/magnific-popup.css';

@import 'css/general';
@import 'css/hero';
@import 'css/sections';

@import 'css/project-elements';
@import 'css/project-misc';
@import 'css/project-overlays';
@import 'css/project-buttons';
@import 'css/listing-items';

@import 'css/dropdowns';
@import 'css/shopping-cart';
@import 'css/skins/_light-blue';

@import 'css/scrolling-nav';

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.light-gray-bg {
  background-color: #fafafa;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

/deep/ .ngx-gallery-arrow-wrapper { 
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.16) 100%) !important;
  width:12% !important;
}

/deep/ .ngx-gallery-thumbnails .ngx-gallery-icon {
  font-size: 41px !important;
}

/deep/  .ngx-gallery-icon {
  font-size: 49px !important;
}



